<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_SimulationService" />
                <binding name="WSHttpBinding_GeneratingService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:35099/SimulatingService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_SimulationService"
                contract="HostedSimulationService.SimulationService" name="WSHttpBinding_SimulationService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:35099/GeneratingService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_GeneratingService"
                contract="HostedGeneratingService.GeneratingService" name="WSHttpBinding_GeneratingService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>